<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/styling :: head-style" ></div>
  </head>

<body>

    <div th:fragment="navbar">
    


      <nav class="navbar fixed-top">
        <a class="navbar-brand" href="@{/blogpost}">
          <img src="https://toppng.com/uploads/preview/vaporwave-palm-tree-11563061826um2xwrikvs.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
          Rad Flicks
        </a>
      <div>
      <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Find By Genre</a>
     <div class="dropdown-menu" aria-labelledby="dropdown01" >
         <a class="dropdown-item" href="/">All</a>
         <a class="dropdown-item" th:each="genre : ${genres}" th:text="${genre}" th:href="@{/filter(genre=${genre})}"></a> -->
     </div>
  </div>
</nav>

   
      

    
    </div>


    </body>