<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Edit Blog Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <link href="style/style.css" rel="stylesheet">  -->
    <div th:replace="/fragments/styling :: head-style" ></div>
    </head>
<body>

    <div th:replace="fragments/navbar :: navbar" ></div>


  
   
   

    <div class="container mt-5">
        <p>Please use the form below to edit Blog Post</p>
    <form action="#" th:action="@{~/blogpost/update/{id}(id=${blogPost.id})}" th:object="${blogPost}" method="POST">
        <div class="form-group">
        <label for="blogImageUrl">Image:Url</label>
        <input type="text" name="blogImageUrl" th:field="*{imageUrl}" />
    </div>
        <div class="form-group">
        <label for="blogTitle">Title:</label>
        <input type="text" name="blogTitle" th:field="*{title}" />
    </div>
        <div class="form-group">
        <label for="blogAuthor">Genre:</label>
        <input type="text" name="blogGenre" th:field="*{genre}" />
    </div>
        <div class="form-group">
        <label for="blogEntry">Blog Entry:</label>
        <input type="text" name="blogEntry" th:field="*{blogEntry}" />
    </div>
 
        <button type="submit" class="btn btn-success">Submit Your Blog</button>
    </form>
        
    </div>


<div th:fragment="body-links"></div>
</body>
</html>
