<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style/style.css">
    <div th:replace="/fragments/styling :: head-style" ></div>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
 

<div class="Container">
    <h1>Can you see me?</h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a herf ="#" th:href="@{'/blogpost/delete/{id}'(id=${blog.id})}" class="card-line btn btn-danger">Delete Post</a>
  </div>
</div>
    
    <a th:href="@{/}"><button class="btn btn-success">Back To Home Page</button></a>

</div>
<div th:fragment="body-links"></div>
  </body>
</html>