<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet"> 
    <div th:replace="/fragments/styling :: head-style" ></div>
    <title>Bad Flicks Home</title>
</head>
<body>


  <div th:replace="fragments/navbar :: navbar" ></div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Bad Flicks!</h1>
      <p class="lead">Check out our blogs to discover the best underrated 80's movies!</p>
    </div>
  </div>


  <div class="container">
  
    <!-- <div class="card-deck"> -->
      <div th:each="blog:${posts}">
        <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-5 border-0" style="max-width:70rem;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img th:src="@{${blog.imageUrl}}" class="img-thumbnail" alt="movie poster">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" th:text="${blog.title}"></h5>
            <p class="card-text"><small th:text="${blog.genre}"></small></p>
            <p class="card-text" th:text="${blog.blogEntry}"></p>
            <a herf ="#" th:href="@{'/blogpost/edit/{id}'(id=${blog.id})}" class="card-line btn btn-info">Edit Post</a>
            <a herf ="#" th:href="@{'/blogpost/delete/{id}'(id=${blog.id})}" class="card-line btn btn-danger">Delete Post</a>
      </a>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>   
    


<footer>
  <hr />
  <div class="container">
    <p>&copy; BadFlicks</p>
  <a th:href="@{/blogpost/new}">admin</a>
  <div class="about-card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8JTwkpu0Z6qZlshKkqh5FOo1NIMSIPp9wVg&usqp=CAU" alt="Author" class="rounded-0">
</div>
  </footer>
</div>
<div th:fragment="body-links"></div>


</body>
</html>